<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Enter values for 2 Hz, 3 Hz and 4 Hz</h1>
    <p>
        We have linked our HTML page
    </p>

    <form action="/sub" method="POST">
        <input type="number" name = 'username' placeholder="2 Hz dB value">
        <!-- <input type="number" name = 'hrs1' placeholder="4 Hz dB value"> -->
        <!-- <input type="number" name = 'hrs2' placeholder="6 Hz dB value"> -->
        <input type="submit">
    </form>

    <!-- <p> Your prediction is </p> {{my_marks}} -->
    

</body>
</html>